html,body{
    width: 50%;
    margin: 0 auto;
    font-family: Arial, Helvetica, sans-serif;
}
.container{
    width: 300px;
    height: 46px;
  
    outline: none;
    font-size: 25px;
    vertical-align: middle;
    margin-left: 20%;
}
#inputfield{
    height: 30px;
    border-radius: 20px;
}
#addtodo {
    height:30px;
    width:50px;
    border-radius: 20px;
    outline: none;
}
.maincont{
    width: 500px;
    border:2px solid green;
    height: 500px;
    margin-top: 50px;
    margin-left: auto;
    background-color: indianred;
}
h1{
    margin-left: 20%;
    color: lightsalmon;
}
.para-styling{
    margin: 0;
    cursor: pointer;
    font-size: 20px;
}